{% extends 'admin/master.html' %}
{% block title %}Medical Buddy - QUẢN TRỊ{%endblock%}
{% block body %}


{% if current_user.is_authenticated %}
<h1 class="text-center text-success"> TRANG QUẢN TRỊ!</h1>
        <div class="d-flex">
            <div class="w-50 p-2 d-flex align-items-center justify-content-start">
                <div>
                    <span class="d-inline-block text-uppercase text-primary h1 font-weight-bold">Hospital</span>
                    <p class="mb-1">Chúng tôi muốn nghe ý kiến của bạn về cách cải thiện dịch vụ của chúng tôi và cung cấp dịch vụ chăm sóc tốt nhất có thể.</p>
                    <span class="h4">Chào mừng  {{ current_user.tenNguoiDung }} đến trang  quản trị.</span>


                </div>
            </div>
            <div class="w-50 p-3">
                <img class="" src="{{ url_for('static', filename='images/bg_admin.svg') }}" alt="doctors">
            </div>
        </div>

{% else %}
<h1 class="text-center text-success">ĐĂNG NHẬP QUẢN TRỊ</h1>
<form method="post" action="/admin/login">
  <div class="mb-3 mt-3">
    <label for="username" class="form-label">Tên đăng nhập:</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập" required>
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Mật khẩu:</label>
    <input type="password" class="form-control" id="pwd" name="password" placeholder="Mật khẩu" required>
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
{% endif %}

{% endblock %}