<!--footer-->
<div class="footer mt-0">
    <div class="container">
        <div class="row py-1 py-md-2 px-lg-0">
            <div class="col-lg-4 footer-col1">
                <div class="row flex-column flex-md-row flex-lg-column">
                    <div class="col-md">
                        <div class="footer-text mt-1 mt-lg-2">
                            <p>Để nhận thông báo qua email, chỉ cần cung cấp
                                <br>chúng tôi với email của bạn dưới đây</p>
                            <form action="#" class="footer-subscribe">
                                <div class="input-group">
                                    <input name="subscribe_mail" type="text" class="form-control"
                                           placeholder="Your Email"/>
                                    <span><i class="icon-black-envelope"></i></span>
                                </div>
                            </form>
                        </div>
                        <div class="footer-social d-md-none d-lg-block">
                            <a href="https://www.facebook.com/" target="blank" class="hovicon"><i
                                    class="fa-brands fa-facebook"></i></a>
                            <a href="https://plus.google.com/" target="blank" class="hovicon"><i
                                    class="fa-brands fa-google-plus-g"></i></a>
                            <a href="https://www.instagram.com/" target="blank" class="hovicon"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h3>Blog Posts</h3>
                <div class="h-decor"></div>
                <div class="footer-post d-flex">
                    <div class="footer-post-photo"><img
                            src="{{ url_for('static', filename='images/demo/2.jpg') }}" alt=""
                            class="img-fluid"></div>
                    <div class="footer-post-text">
                        <div class="footer-post-title"><a href="post.html">Thuốc cập nhật mới nhất </a></div>
                        <p>12 - 26, 2023</p>
                    </div>
                </div>
                <div class="footer-post d-flex">
                    <div class="footer-post-photo"><img
                            src="{{ url_for('static', filename='images/demo/3.jpg') }}" alt=""
                            class="img-fluid"></div>
                    <div class="footer-post-text">
                        <div class="footer-post-title"><a href="post.html">Thành lập từ ngày</a></div>
                        <p>8 - 22, 2004</p>
                    </div>
                </div>
                <div class="footer-post d-flex">
                    <div class="footer-post-photo"><img

                            class="img-fluid"></div>
                    <div class="footer-post-text">
                        <div class="footer-post-title"><a href="post.html">Liên lạc khác</a></div>
                        <p>.................</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h3>Our Contacts</h3>
                <div class="h-decor"></div>
                <ul class="icn-list">
                    <li><i class="icon-placeholder2"></i>156 Nguyen Binh Street Nha Be, TPHCM
                        <br>
                        <a href="https://www.google.com/maps/place/156+Nguy%E1%BB%85n+B%C3%ACnh,+Ph%C3%BA+Xu%C3%A2n,+Nh%C3%A0+B%C3%A8,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@9.5095884,107.1556171,7z/data=!4m6!3m5!1s0x31753a954b8e520d:0x7d13360b9a8d374d!8m2!3d10.6767209!4d106.7467861!16s%2Fg%2F11gfgvwvmx?hl=vi-VN&entry=ttu"
                           class="btn btn-xs btn-gradient"><i class="icon-placeholder2"></i><span>Nhận chỉ đường trên bản đồ</span><i
                                class="icon-right-arrow"></i></a>
                    </li>
                    <li><i class="icon-telephone"></i><b><span class="phone"><span
                            class="text-nowrap">1-900-234-0000</span>, <span
                            class="text-nowrap">1-900-234-0002</span></span></b>
                        <br>(Hoạt động 24/8)
                    </li>
                    <li><i class="icon-black-envelope"></i><a href="mailto:info@dentco.net">info@dentco.net</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row text-center text-md-left">
                <div class="col-sm">Copyright © 2023 <a
                        href="#">MedicalBuddy by HN</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                    <a href="#">Privacy Policy</a></div>
                <div class="col-sm-auto ml-auto"><span
                        class="d-none d-sm-inline">For emergency cases&nbsp;&nbsp;&nbsp;</span><i
                        class="icon-telephone"></i>&nbsp;&nbsp;<b>1-900-234-000</b></div>
            </div>
        </div>
    </div>
</div>
<!--//footer-->