{% extends 'layout/base.html' %}

{% block title %} Medical Buddy - Blog {% endblock %}

{% block content %}

    	<div class="page-content">
		<!--section-->
		<div class="section mt-0">
			<div class="breadcrumbs-wrap">
				<div class="container">
					<div class="breadcrumbs">
						<a href="/">Home</a>
						<span>Blog</span>
					</div>
				</div>
			</div>
		</div>

		<div class="section page-content-first">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 aside">
						<div class="blog-posts">
							<div class="blog-post">
								<div class="blog-post-info">
									<div class="post-date">17<span>T11</span></div>
									<div>
										<h2 class="post-title"><a href="/blog/post">Cách chọn bàn chải đánh răng tốt nhất</a></h2>
										<div class="post-meta">
											<div class="post-meta-author">by <a href="#"><i>admin</i></a></div>
											<div class="post-meta-social">
												<a href="#"><i class="fa-brands fa-facebook"></i></a>
												<a href="#"></a>
												<a href="#"> <i class="fa-brands fa-google-plus-g"></i></a>
												<a href="#"><i class="fa-brands fa-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="post-image">
									<a href="/blog/post"><img src="{{ url_for('static', filename='images/demo/5.jpeg') }}" alt=""></a>
								</div>
								<div class="post-teaser">Vệ sinh răng miệng là điều cần thiết cho sức khỏe tổng thể của bạn, không chỉ sức khỏe răng miệng. Trên thực tế, bệnh nướu răng là yếu tố nguy cơ chính dẫn đến phát triển một số tình trạng sức khỏe nguy hiểm, chẳng hạn như bệnh tiểu đường và bệnh tim […]</div>
								<div class="mt-3 mt-lg-4"><a href="https://www.bachhoaxanh.com/kinh-nghiem-hay/chon-mua-ban-chai-danh-rang-tot-948890" class="btn btn-sm btn-hover-fill"><span>Đọc Thêm</span></a></div>
							</div>
							<div class="blog-post">
								<div class="blog-post-info">
									<div class="post-date">17<span>T12</span></div>
									<div>
										<h2 class="post-title"><a href="/blog/post">Khám răng & chụp X-quang MIỄN PHÍ</a></h2>
										<div class="post-meta">
											<div class="post-meta-author">by <a href="#"><i>admin</i></a></div>
											<div class="post-meta-social">
												<a href="#"><i class="fa-brands fa-facebook"></i></a>
												<a href="#"></a>
												<a href="#"> <i class="fa-brands fa-google-plus-g"></i></a>
												<a href="#"><i class="fa-brands fa-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="post-image">
									<div class="post-video">
										<img src="{{ url_for('static', filename='images/demo/4.jpg') }}" />
									</div>
								</div>
								<div class="post-teaser">Tối nay không đánh răng cũng không sao. Một ý nghĩ đã thoáng qua tâm trí hầu hết mọi người ít nhất một hoặc hai lần. Chà, đã đến lúc dừng lại […]</div>
								<div class="mt-3 mt-lg-4"><a href="/blog/post" class="btn btn-sm btn-hover-fill"><span>Đọc Thêm</span></a></div>
							</div>
							<div class="blog-post">
								<div class="blog-post-info">
									<div class="post-date">17<span>T12</span></div>
									<div>
										<h2 class="post-title"><a href="/blog/post">Cách điều trị ho, đau họng do cảm lạnh và cúm</a></h2>
										<div class="post-meta">
											<div class="post-meta-author">by <a href="#"><i>admin</i></a></div>
											<div class="post-meta-social">
												<a href="#"><i class="fa-brands fa-facebook"></i></a>
												<a href="#"> <i class="fa-brands fa-google-plus-g"></i></a>
												<a href="#"><i class="fa-brands fa-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="post-teaser">
									<p>SKĐS - Cảm lạnh và cúm rất thường xảy ra trong thời tiết lạnh. Ho và đau họng là triệu chứng thường gặp của tình trạng này. Vậy ứng phó thế nào?</p>
									<div class="quote">
										<p>Dùng thuốc trị ho thảo dược hoặc ngậm kẹo cứng chứa tinh dầu: Tinh dầu bạc hà và một số loại thuốc ho thảo dược có thể làm tê nhẹ và làm dịu cơn đau họng. </p>
										<p>Đây là những dấu hiệu cho thấy bạn có thể mắc bệnh nhiễm trùng do vi khuẩn như viêm họng liên cầu khuẩn, có thể cần được điều trị bằng kháng sinh. Hoặc đó có thể là một tình trạng khác như trào ngược axit và cần phương pháp điều trị thích hợp.</p>
									</div>
								</div>
								<div class="mt-3 mt-lg-4"><a href="https://suckhoedoisong.vn/cach-dieu-tri-ho-dau-hong-do-cam-lanh-va-cum-169240103185128132.htm" class="btn btn-sm btn-hover-fill"><i class="icon-right-arrow"></i><span>Đọc Thêm</span><i class="icon-right-arrow"></i></a></div>
							</div>
							<div class="blog-post">
								<div class="blog-post-info">

								</div>
								<div class="post-image">
									<div class="slider-gallery post-carousel js-post-carousel">
										<a href="#"><img src="images/blog/blog-post-img-2.jpg" alt=""></a>
										<a href="#"><img src="images/blog/blog-post-img-2-1.jpg" alt=""></a>
										<a href="#"><img src="images/blog/blog-post-img-2-2.jpg" alt=""></a>
									</div>
								</div>
							</div>
							<div class="blog-post">
								<div class="blog-post-info">

								</div>
								<div class="post-image">
									<div class="post-link-wrapper">
										<div class="vert-wrap">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<ul class="pagination justify-content-center">
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><span class="page-link">...</span></li>
							<li class="page-item"><a class="page-link" href="#">15</a></li>
						</ul>
					</div>
					<div class="col-lg-3 aside-left mt-5 mt-lg-0">
						<div class="side-block">
							<form action="#" class="content-search d-flex">
								<div class="input-wrap">
									<input type="text" class="form-control" placeholder="Keywords">
								</div>
								<button type="submit"><i class="icon-search"></i></button>
							</form>
						</div>

						<div class="side-block">
							<h3 class="side-block-title">Lịch</h3>
							<div class="calendar">
								<div class="calendar__header">
									<a href="#" class="prev"><i class="icon-left-arrow"></i></a>
									<span class="month">Tháng 12 Năm 2023</span>
									<a href="#" class="next"><i class="icon-right-arrow"></i></a>
								</div>
								<table>
									<tbody>
										<tr>
											<th>T2</th>
											<th>T3</th>
											<th>T4</th>
											<th>T5</th>
											<th>T6</th>
											<th>Y7</th>
											<th>CN</th>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td>1</td>
											<td>2</td>
											<td>3</td>
											<td>4</td>
											<td>5</td>
										</tr>
										<tr>
											<td>6</td>
											<td>7</td>
											<td>8</td>
											<td>9</td>
											<td>10</td>
											<td>11</td>
											<td>12</td>
										</tr>
										<tr>
											<td>13</td>
											<td>14</td>
											<td>15</td>
											<td>16</td>
											<td class="selected">17</td>
											<td>18</td>
											<td>19</td>
										</tr>
										<tr>
											<td>20</td>
											<td>21</td>
											<td>22</td>
											<td>23</td>
											<td>24</td>
											<td>25</td>
											<td>26</td>
										</tr>
										<tr>
											<td>27</td>
											<td>28</td>
											<td >29</td>
											<td>30</td>
											<td>31</td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="side-block">
							<h3 class="side-block-title">Thẻ</h3>
							<ul class="tags-list">
								<li><a href="#">ThuocTotNhat</a></li>
								<li><a href="#">BacSiYKhoa</a></li>
								<li><a href="#">BanChayTotNhat</a></li>
								<li><a href="#">MuaNhieuGiamNhieu</a></li>
								<li><a href="#">MienPhi</a></li>

							</ul>
						</div>
						<div class="side-block">
							<h3 class="side-block-title">Bài Đăng Gần Đây</h3>
							<div class="blog-post post-preview">
								<div class="post-image">
									<a href="/blog/post"><img src="{{ url_for('static', filename='images/demo/5.jpeg') }}" alt=""></a>
								</div>
								<div>
									<h4 class="post-title"><a href="/blog/post">Cách chọn bàn chải đánh răng tốt nhất</a></h4>
									<div class="post-meta">
										<div class="post-meta-author text-nowrap">by <a href="#"><i>admin</i></a></div>
										<div class="post-meta-date text-nowrap"><i class="icon icon-clock3"></i>17 T12, 2023</div>
									</div>
								</div>
							</div>
							<div class="blog-post post-preview">
								<div class="post-image">
									<a href="/blog/post"><img src="{{ url_for('static', filename='images/demo/4.jpg') }}" alt=""></a>
								</div>
								<div>
									<h4 class="post-title"><a href="/blog/post">Khám răng & chụp X-quang MIỄN PHÍ</a></h4>
									<div class="post-meta">
										<div class="post-meta-author text-nowrap">by <a href="#"><i>admin</i></a></div>
										<div class="post-meta-date text-nowrap"><i class="icon icon-clock3"></i>17 T12, 2023</div>
									</div>
								</div>
							</div>

						</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!--//section-->
	</div>
{% endblock %}

{% block modal %}
{% endblock %}