{% extends 'layout/base.html' %}

{% block title %} Medical Buddy - Contact {% endblock %}
{% block content %}

    	<div class="page-content">
		<!--section-->
		<div class="section mt-0">
			<div class="breadcrumbs-wrap">
				<div class="container">
					<div class="breadcrumbs">
						<a href="/">Home</a>
						<span>Contact</span>
					</div>
				</div>
			</div>
		</div>
            <br/>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d124936.34668883376!2d107.4137959!3d11.886917!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31753a954b8e520d%3A0x7d13360b9a8d374d!2zMTU2IE5ndXnhu4VuIELDrG5oLCBQaMO6IFh1w6JuLCBOaMOgIELDqCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1704519984369!5m2!1svi!2s" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%"></iframe>
<div class="section mt-0 bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="title-wrap">
                            <h5>Địa chỉ Medical Buddy</h5>
                            <div class="h-decor"></div>
                        </div>
                        <ul class="icn-list-lg">
                            <li><i class="icon-placeholder2"></i> Medical Buddy
                                <br>156 Nguyen Binh Street Nha Be, TPHCM,
                                <br> Hoạt động 24/7
                            </li>
                        </ul>
                    </div>
                    <div class="col-md mt-3 mt-md-0">
                        <div class="title-wrap">
                            <h5>Liên hệ</h5>
                            <div class="h-decor"></div>
                        </div>
                        <ul class="icn-list-lg">
                            <li><i class="icon-telephone"></i>Điện thoại: <span class="theme-color"><span
                                    class="text-nowrap">1-900-234-000,</span> <span
                                    class="text-nowrap">1-900-234-002</span>
								</span>
                                <br> Fax: <span class="theme-color"><span class="text-nowrap">(384) 297-9098</span>
								</span>
                            </li>
                            <li><i class="icon-black-envelope"></i><a href="mailto:medicalbuddy.info.vn">medicalbuddy.info.vn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md mt-3 mt-md-0">
                        <div class="title-wrap">
                            <h5>Thời Gian Làm Việc</h5>
                            <div class="h-decor"></div>
                        </div>
                        <ul class="icn-list-lg">
                            <li><i class="icon-clock"></i>
                                <div>
                                    <div class="d-flex"><span>T2-T6</span><span
                                            class="theme-color">08:00 - 20:00</span></div>
                                    <div class="d-flex"><span>Thứ 7</span><span
                                            class="theme-color">07:00 - 22:00</span></div>
                                    <div class="d-flex"><span>Chủ Nhật</span><span
                                            class="theme-color">08:00 - 18:00</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}