{% extends 'layout/base.html' %}

{% block title %}Medical Buddy - Danh Sách Hoá Đơn{% endblock %}

{% block stylesheets %}
<!-- stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{%block content%}
<div class="container p-5 container-sm " style="max-width:600px">
    <div class=""
         style=" background-size: cover; background-position: center top;">
        <span class="mask bg-gradient-default opacity-8"></span>
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid ">
    <div class="row">
        <div class="col-xl order-xl">
            <div class="card shadow">
                <div class="card-header bg-white border-40">
                    <div class=" align-items-center">
                        <div class="">
                            <h3 class="mb-0 text-center">DANH SÁCH HOÁ ĐƠN</h3>
                        </div>
                        <div class=" text-right">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID Hoá Đơn:</th>
                                    <th scope="col">ID Bệnh Nhân:</th>
                                    <th scope="col">Ngày Khám:</th>
                                    <th scope="col">Tiền Thuốc:</th>
                                    <th scope="col">Tiền Khám:</th>
                                    <th scope="col">Tổng Tiền:</th>
                                    <th scope="col">Trạng Thái:</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for h in ds_HD%}
                                <tr>
                                    <td>{{h.id}}</td>
                                    <td>{{h.id_BenhNhan}}</td>
                                    <td>{{h.ngayThanhToan}}</td>
                                    <td>{{h.tienThuoc}}</td>
                                    <td>{{h.tienKham}}</td>
                                    <td>{{h.tongTien}}</td>
                                    <td>
                                        <select name="cars" id="cars{{h.id}}">
                                            <option value="{{h.trangThai}}">{{h.trangThai}}</option>
                                            <option value="Đã Thanh Toán Thành Công">Đã Thanh Toán Thành Công</option>
                                            <option value="Chưa Thanh Toán">Chưa Thanh Toán</option>
                                            <option value="Chờ Xác Nhận Của Thu Ngân">Chờ Xác Nhận Của Thu Ngân</option>
                                        </select>

                                    </td>
                                </tr>
                                {%endfor%}
                                </tbody>

                            </table>
                            <div class="row" style="padding: 0 15px;!important;">
                                        <input type="button" class="btn btn-hover-fill" onclick="trangthai()" value="Cập Nhật Trạng Thái Hoá Đơn"/>
                                    </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br/> <br/> <br/> <br/> <br/>
{%block footer%}
<button class="backToTop1 js-backToTop" id="myBtn">
    <i class="icon fa-solid fa-arrow-up"></i>
    <script>
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }
        document.getElementById('myBtn').addEventListener("click", function(){
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        });


    </script>
</button>
{%endblock%}
{% endblock %}
