{% extends 'layout/base.html' %}
{% block title %}Medical Buddy - Hoá Đơn{%endblock%}
<!--class="container": create space on both sides-->
{% block content %}
{% block stylesheets%}
<script src="{{ url_for('static', filename='js/hoadon.js') }}"></script>
    <link href="{{ url_for('static', filename='css/style-color.css') }}" rel="stylesheet">

{% endblock %}
<h1 class="text-center text-info">Receipt Details</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Mã Thuốc</th>
        <th scope="col">Tên Thuốc</th>
        <th scope="col">Đơn Giá</th>
        <th scope="col">Số Lượng</th>
        <th scope="col">Ghi chú</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {%for t in ds_chitiet.id_Thuoc%}

    <tr>
        <td>{{loop.index}}</td>
        <td>{{t["id"]}}</td>
        <td>{{t['tenThuoc']}}</td>
        <td>{{t["giaThuoc"]}}</td>
        <td><input type="number" value="5" onblur="update_soLuong({{t['id']}}, this)"></td>
        <td><input type="text" placeholder="điền ghi chú...."></td>
    </tr>
    {%endfor%}
    </tbody>

</table>
<div class="alert alert-info">
    <ul>
        <li>Tổng tiền thuốc tạm tính : <span id="total_price">{{'{:.0f}'.format(total)}}</span> VNĐ</li>
    </ul>
    <div class="row" style="padding: 0 15px;!important;">
        <input type="button" class="btn btn-hover-fill" value="Xem Hoá Đơn" data-bs-toggle="modal"
               data-bs-target="#modalThanhToan" onclick="luuPhieuKham()"/>
    </div>
</div>

<div class="d-flex justify-content-end">
</div>


<div class="modal modal-form fade" id="modalThanhToan">
    <div class="modal-dialog">
        <div class="modal-content">
            <button aria-label='Close' class='close' data-bs-dismiss='modal'>
                <i class="fa-solid fa-xmark"></i>

            </button>
            <div class="modal-body">
                <div class="modal-form">
                    <h3>Thanh Toán Hoá Đơn</h3>
                    <form class="mt-15" id="bookForm" method="post" novalidate>


                        <div class="input-group">
                              <div style="z-index: 100;position: relative; padding: 10px 10px 0 10px;">Tiền Thuốc: </div>
                            <input id="tienThuoc" type="text" name="bookingname" class="form-control " autocomplete="off"
                                   placeholder="Patient Name*" value="{{'{:.0f}'.format(total)}} VNĐ" readonly/>
                        </div>


                        <div class="input-group">
                            <div style="z-index: 100;position: relative; padding: 10px 10px 0 10px;">Tiền Khám: </div>
                            <input id="tienKham" type="text" name="bookingname" class="form-control " autocomplete="off"
                                   placeholder="Patient Name*" value="100000 VNĐ"readonly/>
                        </div>
                        <hr/>
                         <div class="input-group">
                            <div style="z-index: 100;position: relative; padding: 10px 10px 0 10px;">Tổng Tiền: </div>
                            <input id="tongTien" type="text" name="bookingname" class="form-control " autocomplete="off"
                                   placeholder="Patient Name*" value="{{'{:.0f}'.format(total+100000)}} VNĐ " readonly/>
                        </div>
                        <br/>

                        <div class="text-right mt-2">
                            <button type="button" class="btn btn-sm btn-hover-fill" style=""
                                    class="booking1" data-bs-dismiss="modal" onclick="pay()">Lưu Hoá Đơn
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal modal-form fade" id="modalThanhCong">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="modal-form">
                    <div>
                         <h3 style="margin:0">Thanh Toán Thành Công </h3>
                         <span style="font-size:12px;color:red;opacity:0.5;"> *Cảm ơn quý khách đã sử dụng dịch vụ !!!</span>
                    </div>


                    <form class="mt-15" id="bookForm1" method="post" novalidate>

                        <img style="max-width:150px;max-width: 450px; position: relative;padding: 0 100px 0 140px;"
                             src="{{ url_for('static', filename='images/demo/thanhtoan.gif') }}" />


                        <div class="text-right mt-2">
                            <a href="/blog" class="btn btn-sm btn-hover-fill">Complete</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<br/><br/><br/><br/>
{% endblock %}
